:root {
  --main-accent: black;
  --error: #cc1010;
  --blue: #1170cf;
}

* {
  box-sizing: border-box;
}

/* alpine stuff */
[x-cloak] { display: none !important; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
  padding: 2em;
  color: #444;

  background: linear-gradient(to bottom right, #F37335, #FDC830);
  background: linear-gradient(to right, #ff9966, #ff5e62);
  /* background: linear-gradient(to right, #30e8bf, #ff8235);
  background: linear-gradient(to bottom right, #00b4db, #0083b0); */
}

h1 {
  color: white;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  background-color: white;
  border: 1px solid #ddd;
  margin: 1em;
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
}

.cols {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 1em;
}

.cols > * {
  width: 0;
  width: 40vw;
  flex-grow: 1;
}

a {
  color: inherit;
}

a:hover {
}

textarea {
  font-family: inherit;
  background-color: #eee;
  border: 0px;
  padding: 10px;
  resize: none;
}

button {
  cursor: pointer;
  border-radius: 30px;
  padding: 15px 25px;
  background-color: #1abc9c;
  border: 0;
  color: white;
}

button:hover:not(:disabled) {
  background-color: #149e83;
}

*:disabled, input:disabled+label {
  opacity: 0.5;
  cursor: auto;
}

.room {
  cursor: pointer;
  padding: 0.3em;
}

.room:hover {
  background-color: #eee;
}

.message {
  border-radius: 1em;
  padding: 1em;
  background: #ddd;
  margin-top: 0.5em;
}

.message:first-of-type {
  margin-left: 0;
}

.message {
  margin-left: 2em;
}

.message .header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
  font-size: 14px;
  color: #666;
}

.message .text, .message .files {
  margin-left: 32px;
}

.message .messageQuote {
  border-left: 4px solid #aaa;
  padding-left: 9px;
  margin-left: 0;
}

.files {
  display: flex;
}

.files img {
  height: 80px;
  margin: 10px;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

/* only applied if image is broken. css hack */
.avatar:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: #c6a7c6;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

pre {
  overflow-x: auto;
}