:root {
  --main-accent: black;
  --error: #cc1010;
  --blue: #1170cf;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: arial;
  background-color: #f7f7f7;
  padding: 2em;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid #ddd;
  margin: 1em;
  border-radius: 1em;
}

.cols {
  display: flex;
}

.cols section {
  width: 0;
  flex-grow: 1;
}

textarea {
  font-family: inherit;
  width: 30em;
}

button {
  cursor: pointer;
}

.room {
  cursor: pointer;
  padding: 0.3em;
}

.room:hover {
  background-color: #eee;
}

.message {
  border-radius: 1em;
  padding: 1em;
  background: #ddd;
  margin-top: 0.5em;
}

.message:first-of-type {
  margin-left: 0;
}

.message {
  margin-left: 2em;
}

.message .header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
  font-size: 14px;
  color: #666;
}

.message .text {
  margin-left: 32px;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

/* only applied if image is broken. css hack */
.avatar:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: #c6a7c6;
}

pre {
  overflow-x: auto;
}